@model IEnumerable<LibraryWebApp.BooksDataModel>

@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Books", new { area = "" })
</p>
<table>
    <tr>
        <th>Title</th>
        <th>Author's name</th>
        <th>Author's surname</th>
        <th>Series</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Series.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Books", new { area = "" }, new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", "Books", new { area = "" }, new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", "Books", new { area = "" }, new { id = item.Id })
        </td>
    </tr>
    }
</table>