@model LibraryWebApp.AuthorsDataModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4> @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
